#root {
width: 100%;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
@import "tailwindcss";
/* colors: {
 'text': '#060404',
 'background': '#e6965c',
 'primary': '#0c0a09',
 'secondary': '#aacfad',
 'accent': '#884315',
},


--linearPrimarySecondary: linear-gradient(#0c0a09, #aacfad);
--linearPrimaryAccent: linear-gradient(#0c0a09, #884315);
--linearSecondaryAccent: linear-gradient(#aacfad, #884315);
--radialPrimarySecondary: radial-gradient(#0c0a09, #aacfad);
--radialPrimaryAccent: radial-gradient(#0c0a09, #884315);
--radialSecondaryAccent: radial-gradient(#aacfad, #884315);
*/