@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  background-color: #301a01; /* soft light gray */
  min-height: 100%;
}

@import "tailwindcss";
@layer base {
  :root {
    
    --text: #0d0a07;
    --background: #f4c18f;
    --primary: #b5885e;
    --secondary: #d3b293;
    --accent: #cea178;
--linearPrimarySecondary: linear-gradient(#b5885e, #d3b293);
--linearPrimaryAccent: linear-gradient(#b5885e, #cea178);
--linearSecondaryAccent: linear-gradient(#d3b293, #cea178);
--radialPrimarySecondary: radial-gradient(#b5885e, #d3b293);
--radialPrimaryAccent: radial-gradient(#b5885e, #cea178);
--radialSecondaryAccent: radial-gradient(#d3b293, #cea178);

  }

  
}
