
@layer base {
  :root {
     --radial-primary-accent: radial-gradient(
    circle at top,
    #e0f2fe,
    #f8fafc 60%
  );
    --text: #060404;
    --background: #e6965c;
    --primary: #0c0a09;
    --secondary: #aacfad;
    --accent: #884315;

    --linear-primary-secondary: linear-gradient(#0c0a09, #aacfad);
    --linear-primary-accent: linear-gradient(#0c0a09, #884315);
    --linear-secondary-accent: linear-gradient(#aacfad, #884315);

    --radial-primary-secondary: radial-gradient(#0c0a09, #aacfad);
    --radial-primary-accent: radial-gradient(#0c0a09, #884315);
    --radial-secondary-accent: radial-gradient(#aacfad, #884315);
  }

  .dark {
    --text: #fbf9f9;
    --background: #a35319;
    --primary: #f6f4f3;
    --secondary: #305533;
    --accent: #eaa476;

    --linear-primary-secondary: linear-gradient(#f6f4f3, #305533);
    --linear-primary-accent: linear-gradient(#f6f4f3, #eaa476);
    --linear-secondary-accent: linear-gradient(#305533, #eaa476);

    --radial-primary-secondary: radial-gradient(#f6f4f3, #305533);
    --radial-primary-accent: radial-gradient(#f6f4f3, #eaa476);
    --radial-secondary-accent: radial-gradient(#305533, #eaa476);
  }
}

@import "tailwindcss";